.title{
    text-align: center;
    background-color: yellowgreen;
    font-size: 3ex;

}

.items{
    background-color: yellow;
    margin: 10px;

}

.item-selected{
    position: relative;
    /* left: 50%; */
    background-color: aqua;
}

.item-selected-box{
    position: absolute;
    left: 95%;
    top:-0%;
}
.item-id{
    display: none;
}

.waiting{
    text-align: center;
}